@using ServiceReference;
@model IEnumerable<DTO.FleetManagement>
@{
    IEnumerable<DTO.GeneralEmployee> employees = ViewBag.Emps;
    K2TaskItem[] Items = ViewBag.listwf;
    IEnumerable<DTO.GeneralRequestsService> Gr = ViewBag.GR;
    Layout = "_LayoutAdmin";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 style="text-align:center">Table Of FleetManagement Request</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                First name
                            </th>
                            <th>
                                Progress
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var Itemwf = Items.FirstOrDefault(e => e.Folio == (item.Id).ToString());
                            var itemGr = Gr.FirstOrDefault(e => e.RequestId == item.RequestId);
                            @if (ViewBag.user == 1)
                            {
                                if (itemGr.StepId != 2)
                                {
                                    <tr>
                                        <td class="py-1">
                                            <img src="~/images/Photo Fixed.png" alt="image" />
                                        </td>
                                        <td>
                                            @employees.FirstOrDefault(e=>e.Id == item.EmployeeId).NameEn
                                        </td>
                                        <td>
                                            @if (itemGr.StepId == 1)
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                            else if (itemGr.StepId == 2)
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                        </td>
                                        @if (Itemwf != null)
                                        {
                                            <td>
                                                @Itemwf.status
                                            </td>

                                            <td>
                                                <a href="@Url.Action("Index","AdminFleetAction",new{id=@item.Id})">See More</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Completed
                                            </td>
                                            <td>
                                                Completed
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                if (itemGr.StepId != 1)
                                {
                                    <tr>
                                        <td class="py-1">
                                            <img src="~/images/Photo Fixed.png" alt="image" />
                                        </td>
                                        <td>
                                            @employees.FirstOrDefault(e=>e.Id == item.EmployeeId).NameEn
                                        </td>
                                        <td>
                                            @if (itemGr.StepId == 1)
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                            else if (itemGr.StepId == 2)
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                        </td>
                                        @if (Itemwf != null)
                                        {
                                            <td>
                                                @Itemwf.status
                                            </td>

                                            <td>
                                                <a href="@Url.Action("Index","AdminFleetAction",new{id=@item.Id})">See More</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Completed
                                            </td>
                                            <td>
                                                Completed
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
